@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply bg-[#06202A] text-gray-300
    }
}

body::-webkit-scrollbar {
    margin-left: 30px;
	float: left;
	height: 300px;
	width: 12px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;       /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(152, 146, 146); /* creates padding around scroll thumb */
}



